NUM_TO_INFO=https://nitin-developer-api-paid.nitinshab43.workers.dev/api?action=num&number=${NUMBER}&key=JAANI

AADHAR_TO_INFO=https://nitin-developer-api-paid.nitinshab43.workers.dev/api?action=aadhar&aadhar=${AADHAR}&key=JAANI

TELEGRAM_API_ID=35609135
TELEGRAM_API_HASH=b242fcfb404edc153b1c136e7a2ab072
TELEGRAM_BOT_TOKEN=8852933429:AAFcZADIabk5RJEja5hzoJE2bvvBzvdGU0I
TELEGRAM_ADMIN_IDS=8433938551